<div class="big-card">
  <div class="big-card-photo">
    <img
      src="https://img.freepik.com/fotos-gratis/uma-pintura-de-um-lago-de-montanha-com-uma-montanha-ao-fundo_188544-9126.jpg?size=626&ext=jpg&ga=GA1.1.1887574231.1711929600&semt=ais"
      alt=""
    />
  </div>

  <div class="big-card-title">
    <h1><a href="">GDFGF FDGF FDGFD GF</a></h1>
  </div>

  <div class="big-card-text">
    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quidem eum
      sapiente architecto sit distinctio corrupti rem asperiores explicabo quis
      nesciunt aliquid esse dolorem aliquam rerum, illo obcaecati repellendus
      eligendi cum.
    </p>
  </div>
</div>
