<style>
  @import url("https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap");
</style>
<div class="big-card">
  <div class="big-card-photo">
    <img src="{{ photoCover }}" alt="" />
  </div>

  <div class="big-card-title">
    <h1><a [routerLink]="['content', Id]">GDFGF FDGF FDGFD GF</a></h1>
  </div>

  <div class="big-card-text">
    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quidem eum
      sapiente architecto sit distinctio corrupti rem asperiores explicabo quis
      nesciunt aliquid esse dolorem aliquam rerum, illo obcaecati repellendus
      eligendi cum.
    </p>
  </div>
</div>
