.small-card {
  width: 500px;
  display: flex;
  flex-direction: row;
}

.small-card-title {
  font-size: 20px;
  display: flex;
  justify-content: center; /* alinha na horizontal */
  align-items: center; /* alinha na vertical */
}

.small-card-photo > img {
  width: 230px;
  margin-right: 15px;
}

hr {
  margin-top: 15px;
  margin-bottom: 15px;
  border-color: rgb(90, 90, 90);
}
